# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.cache/clangd/index/_mingw.h.86115EB194B31881.idx
.cache/clangd/index/_mingw_ddk.h.ADCA7B5B27BFEE82.idx
.cache/clangd/index/_mingw_mac.h.033D1D7D22D8CBC3.idx
.cache/clangd/index/_mingw_off_t.h.36FD4AE332B949F4.idx
.cache/clangd/index/_mingw_secapi.h.879E7951E5F14607.idx
*.idx
*.tags
ArithmeticOperators/.clang-format
*.andre
ArithmeticOperators/.clangd
*.mk
*.project
AssignmentOperator/.clang-format
*.txt
AssignmentOperator/.clangd
*.json
Euros/.clang-format
Euros/.clangd
Makefile
MixedExpressions/.clang-format
MixedExpressions/.clangd
*.tags
.codelite/StatementsAndOperators-andre.tags
