# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
StatementsAndOperators.workspace
*.workspace
StatementsAndOperators.workspace
*.idx
.codelite/StatementsAndOperators.workspace.andre
AssignmentOperator/.clang-format
AssignmentOperator/.clangd
AssignmentOperator/AssignmentOperator.project
compile_commands.json
StatementsAndOperators.workspace
.codelite/StatementsAndOperators-andre.tags
.codelite/StatementsAndOperators-andre.tags
AssignmentOperator/AssignmentOperator.mk
build-Debug/AssignmentOperator/ObjectsList.txt
Makefile
.codelite/StatementsAndOperators-andre.tags
ArithmeticOperators/.clang-format
ArithmeticOperators/.clangd
ArithmeticOperators/ArithmeticOperators.mk
ArithmeticOperators/ArithmeticOperators.project
build-Debug/ArithmeticOperators/ObjectsList.txt
StatementsAndOperators.workspace
